<div id="top">

  <div id="imgFondo"></div>


 <!--=====================================
  HEADER Y NAV
  ======================================--> 
  <app-header></app-header>

  <!--=====================================
  SLIDESHOW
  ======================================--> 

 <app-slideshow></app-slideshow>

  <!--=====================================
  GALERÍA
  ======================================--> 

  <app-galeria></app-galeria>

  <!--=====================================
  MOUSE PARALLAX EFFECT
  ======================================-->

   <app-mouse></app-mouse>

  <!--=====================================
  ARTÍCULOS
  ======================================-->

    <app-articulos></app-articulos>

  <!--=====================================
  FORMULARIO
  ======================================-->


    <app-formulario></app-formulario>
  

  

<script src="js/script.js"></script>
</div>
